@import url('https://fonts.googleapis.com/css2?family=Playwrite+ES+Deco:wght@100..400&family=Playwrite+ES:wght@100..400&family=Playwrite+US+Trad:wght@100..400&display=swap');
:root{
    --primary-color: #770cdbf6;
    --text-color: white;
    --secondary-color: #9a59d6f6 ;
    }
body{
    background-color: var(--secondary-color);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
}
nav{
    background-color: var(--primary-color);
    padding: 20px 0;
}
ul li{
    display: inline;
    list-style: none;
    padding: 20px;
    font-weight: bold;
    color: var(--text-color);
}